<div class="row">
    <div class="col-md-8">
        <div class="card">
            <div class="card-header card-header-danger">
                <h4 class="card-title">Recorded Name Pronunciation</h4>

            </div>
            <div class="card-body">

                <div style="text-align:center;" >
                   <div *ngIf="!fileFound">
                    <button (click)="initiateRecording()" class="btn btn-primary" *ngIf="!recording" style="cursor: pointer;background-color: green;color: white;font-size: 12pxpx;"> Start Recording </button>
                    <button (click)="stopRecording()" class="btn btn-danger" *ngIf="recording" style="cursor: pointer;background-color: red;color: white;font-size: 12px;"> Stop Recording </button>
                   </div>
                    <div class="clearfix"></div>

                    <div style=" margin-left: auto;
                          margin-right: auto;
                          width: 50px">
                        <mat-spinner  [diameter]="50" *ngIf="fileUploadInProgress"></mat-spinner>
                    </div>
                    <mat-spinner [diameter]="50" *ngIf="voiceLoader"></mat-spinner>
                    <button  mat-raised-button color="primary"
                            (click)="onPlayStandard()" ><mat-icon>play_arrow</mat-icon>Play</button></div>

            </div>
            </div>
        </div>
    </div>


