<div class="card">
    <div class="card-header card-header-danger">
        <h4 class="card-title">Recorded Pronunciation</h4>

    </div>
    <div class="card-body">
        <div style=" margin-left: auto;
                          margin-right: auto;
                          width: 50px">
            <mat-spinner [diameter]="50" *ngIf="loader"></mat-spinner>
        </div>
        <div style="text-align:center;" *ngIf="!loader">
            <div *ngIf="!fileFound">
                <button (click)="initiateRecording()" class="btn btn-primary" *ngIf="!recording"
                        style="cursor: pointer;background-color: green;color: white;font-size: 12px;"> Start
                    Recording
                </button>
                <button (click)="stopRecording()" class="btn btn-danger" *ngIf="recording"
                        style="cursor: pointer;background-color: red;color: white;font-size: 12px;"> Stop Recording
                </button>
            </div>
            <div class="clearfix"></div>

            <div style=" margin-left: auto;
                          margin-right: auto;
                          width: 50px">
                <mat-spinner [diameter]="50" *ngIf="fileUploadInProgress"></mat-spinner>
            </div>
            <mat-spinner [diameter]="50" *ngIf="voiceLoader"></mat-spinner>
            <div *ngIf="fileFound">
                <div class="row">
                    <div class="col-md-4">
                        <button mat-raised-button color="primary"
                                (click)="onPlayStandard()">
                            <mat-icon>play_arrow</mat-icon>
                            Play
                        </button>
                    </div>

                    <div class="col-md-4">
                        <button mat-raised-button color="warn"
                                (click)="onDelete()">
                            <mat-icon>delete</mat-icon>
                            Delete
                        </button>
                    </div>
                    <div class="col-md-4">


                        <div style="margin-top:10px;margin-left: -44px">
                            <span style=" font-weight: 1000"> Status:</span>

                            <span [ngStyle]="{'color': this.recordedData?.status === 'Pending'? 'orange' :
                           ( this.recordedData?.status === 'Approved'? 'Green' : 'red')

                            }"
                                style="font-style: italic;  font-weight: 500; margin-left: 2px">
                    {{this.recordedData?.status}}

                        </span>

                        </div>


                    </div>
                </div>
                <div style="    text-align: left; margin-top: 10px;
    font-weight: 500;
    margin-left: 10px;" class="row">
                    Click on 'Play' to play back the preferred name pronunciation that is set by user.
                </div>
                <div style="    text-align: left;
    font-weight: 500;
    margin-left: 10px;" class="row">
                    <span style=" font-weight: 1000"> Recorded by:</span> <span
                        style="font-style: italic;  font-weight: 500; margin-left: 15px">
                    {{this.recordedData?.recordedbyname}}</span>

                    <div style="    text-align: left;
    font-weight: 500;
    margin-left: 10px;">
                        <span style=" font-weight: 1000">  Recorded on:</span> <span style="font-style: italic;
                     font-weight: 500; margin-left: 15px">{{this.recordedData?.recordedbydate | date:'dd/MM/yyyy'}}</span>
                    </div>
                </div>

                <div *ngIf="this.recordedData?.status === 'Approved'" style="    text-align: left;
    font-weight: 500;
    margin-left: 10px;" class="row">
                    <span style=" font-weight: 1000">Approved by:</span> <span
                        style="font-style: italic; ; margin-left: 15px; font-weight: 500">
                    {{this.recordedData?.approvedbyname}}</span>
                </div>

                <div *ngIf="this.recordedData?.status === 'Declined'" style="    text-align: left;
    font-weight: 500;
    margin-left: 10px;" class="row">
                    <span style=" font-weight: 1000">Declined by:</span> <span
                        style="font-style: italic; ; margin-left: 15px; font-weight: 500">
                    {{this.recordedData?.approvedbyname}}</span>
                </div>

                <div *ngIf="this.recordedData?.status === 'Declined'" style="    text-align: left;
    font-weight: 500;
    margin-left: 10px;" class="row">
                    <span style=" font-weight: 1000">Reason:</span> <span
                        style="font-style: italic; ; margin-left: 15px; font-weight: 500">
                    {{this.recordedData?.reason}}</span>
                </div>

                <div *ngIf="this.recordedData?.status === 'Pending'" class="row" style="margin-top: 15px;
                    margin-left: 1px">
                    <div class="col-md-4">
                        <button mat-raised-button color="primary"
                                style="background-color: green"
                                (click)="onApprove()">
                            <mat-icon>check_circle</mat-icon>
                            Approve
                        </button>
                    </div>

                    <div class="col-md-4">
                        <button mat-raised-button color="primary"
                                style="background-color: red"
                                (click)="onDecline()">
                            <mat-icon>cancel</mat-icon>
                            Reject
                        </button>
                    </div>

                </div>
            </div>
        </div>


    </div>
</div>

