<div class="main-content">
  <div class="container-fluid">
     
      <div class="row">
          <div class="col-md-4">
              <div class="card card-chart">
                  <div class="card-header card-header-success">
                      <div class="ct-chart" id="dailySalesChart"></div>
                  </div>
                  <div class="card-body">
                      <h4 class="card-title">Name Pro Usage</h4>
                      
                  </div>
              </div>
             
          </div>
          <div class="col-lg-8 col-md-12">
            <div class="card">
                <div class="card-header card-header-warning">
                    <h4 class="card-title">Name Pro Stats</h4>
                    
                </div>
                <div class="card-body table-responsive">
                    <table class="table table-hover">
                        <thead class="text-warning">
                            <th>Employee Id</th>
                            <th>Employee</th>
                            <th>Last recorded</th>
                            <th>Country</th>
                        </thead>
                        <tbody>
                            <tr>
                                <td>101</td>
                                <td>Srikanth Polisetty</td>
                                <td>10th May</td>
                                <td>India</td>
                            </tr>
                            <tr>
                                <td>102</td>
                                <td>Vasudha</td>
                                <td>11th May</td>
                                <td>US</td>
                            </tr>
                          
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        
      </div>
     
  </div>
</div>
