<div class="main-content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-8">
        <div class="card">
          <div class="card-header card-header-danger">
            <h4 class="card-title">Employee Profile</h4>

          </div>
          <div class="card-body">
            <form>
              <div style="padding:5px" class="row">

                <div class="col-md-4">
                  <span  style="font-weight:1000"><b>User Name :</b></span> <span style="display: inline;
                  position:relative;
                  margin-left: 20px;
                  font-weight:500">U832221</span>
                </div>
                <div class="col-md-8">
                  <span style="font-weight:1000" ><b>Email Id:</b></span> <span style="display: inline;
                  position:relative;
                  margin-left: 44px;
                  font-weight:500">srikanth.polisetty@wellsfargo.com</span>
                </div>
              </div>
              <div style="padding:5px" class="row">

                <div class="col-md-4">
                  <span style="font-weight:1000"><b>First Name :</b></span> <span style="display: inline;
                  position:relative;
                  margin-left: 20px;
                  font-weight:500">Srikanth</span>
                </div>
                <div class="col-md-8">
                  <span style="font-weight:1000"><b>Last Name:</b></span> <span style="display: inline;
                  position:relative;
                  margin-left: 30px;
                  font-weight:500">Polisetty</span>
                </div>
              </div>

              <div style="padding:5px"class="row">

                <div class="col-md-4">
                  <span  style="font-weight:1000"><b> City :</b></span> <span style="display: inline;
                  position:relative;
                  margin-left: 70px;
                  font-weight:500">Hyderabad</span>
                </div>
                <div class="col-md-8">
                  <span  style="font-weight:1000"><b>Country:</b></span> <span style="display: inline;
                  position:relative;
                  margin-left: 47px;
                  font-weight:500">India</span>
                </div>
              
              </div>
              <div style="padding:5px"class="row">

                <div class="col-md-8">
                  <span  style="font-weight:1000"><b> Manager Name :</b></span> <span style="display: inline;
                  position:relative;
                  margin-left: 20px;
                  font-weight:500">Paul, Biju</span>
                </div>
                
              </div>
              <div style="padding:5px"class="row">

                <div class="col-md-8">
                  <span  style="font-weight:1000"><b> Skill set :</b></span> <span style="display: inline;
                  position:relative;
                  margin-left: 63px;
                  font-weight:500">Java 8+, Angular, SQL, HTML, CSS</span>
                </div>
                
              </div>


              <div class="clearfix"></div>
            </form>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card card-profile">
          <div class="card-avatar">
            <a href="javascript:void(0)">
              <img class="img"
                src="https://media-exp1.licdn.com/dms/image/C4E03AQEIPSxq__RcbQ/profile-displayphoto-shrink_800_800/0/1516828507982?e=1657152000&v=beta&t=7sppNt4wmx5wKWxN2oRBuQZw6ezuLU2hDX4jM6yGaDI" />
            </a>
          </div>
          <div class="card-body">
            <h6 class="card-category text-gray">Senior Software Engineer</h6>
            <h4 class="card-title">Srikanth Polisetty</h4>
            <p class="card-description">
              An Engineer, atleast my degree says so..
            </p>

          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-8">
        <div class="card">
          <div class="card-header card-header-danger">
            <h4 class="card-title">Standard Name Pronunciation</h4>

          </div>
          <div class="card-body">
            <form>


              <div class="clearfix"></div>
            </form>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card card-profile">
          <div class="card-avatar">
            <a href="javascript:void(0)">
              <img class="img"
                   src="https://media-exp1.licdn.com/dms/image/C4E03AQEIPSxq__RcbQ/profile-displayphoto-shrink_800_800/0/1516828507982?e=1657152000&v=beta&t=7sppNt4wmx5wKWxN2oRBuQZw6ezuLU2hDX4jM6yGaDI" />
            </a>
          </div>
          <div class="card-body">
            <h6 class="card-category text-gray">Senior Software Engineer</h6>
            <h4 class="card-title">Srikanth Polisetty</h4>
            <p class="card-description">
              An Engineer, atleast my degree says so..
            </p>

          </div>
        </div>
      </div>
    </div>
  </div>
</div>
